* {
  box-sizing: border-box;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  font-size: 2em;
  line-height: 2em;
  color: white;
  height: 2em;
}

.textXL {
  font-size: 1em;
  font-weight: 400;
}

.main {
  max-width: 1024px;
  margin: 0 auto;
}

.transcripts {
  min-width: 500px;
  height: 500px;
  background-color: #282c34;
  padding: 2em 3em;
  overflow: scroll;
}

.session-button {
  margin-top: 1em;
}
