* {
  box-sizing: border-box;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  font-size: 2em;
  line-height: 2em;
  color: white;
  height: 2em;
}

.main {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.transcripts {
  grid-column: auto / span 6;
  min-height: 500px;
  margin: 1em;
}

.match-words {
  grid-column: auto / span 4;
  min-height: 500px;
  margin: 1em;
}
